<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twitter Clone</title>
  <link rel="stylesheet" href="/css/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/socket.io-client/dist/socket.io.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
	{{> _header}}
  <div class="container">
    {{> _flash_messages}}
    {{{body}}}
  </div>
</body>
</html>
