<div class="starter-template">
  <p class="lead">What is happening?</p>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <form id="send-tweet" action="post">
      <input id="tweet" class="form-control" type="text">
      <br />
      <button class="btn btn-primary">Tweet</button>
    </form>

    <br />
    <br />
    <div id="tweets">
      {{#each tweets}}
        <div class="media">
          <a class="pr-3" href="/users/{{owner._id}}">
            <img src="{{owner.photo}}" alt="">
          </a>
          <div class="media-body">
            <h4 class="mt-0">{{owner.name}}</h4>
            <p>{{content}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
