<div class="starter-template">
	<h1>Join and Follow Celebrities and Entrepreneurs</h1>
	<p class="lead">
    It's Free and will always be, sign up now and enjoy a new social
    experience.
  </p>
</div>

<div id="landing-buttons" class="row justify-content-center">
  <div class="col-md-8 text-center">
    <a class="btn btn-primary btn-lg" href="/users/signup">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/users/signin">Sign In</a>
  </div>
</div>
